*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(132, 117, 173);
    width: 100%;
    height: 100vh;
}

header{
    position: fixed;
    display: flex;
    top: 0%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: blueviolet;
}

main{
    display: flex;
    height: 100vh;
    width: 100%;
}

.imagen_arriva{
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 12px;   
    margin-left: 100px;
}

nav{
    margin: 12px;
    margin-right:100px ;
}

nav a{
    color: aliceblue;
    font-size: 20px;
    margin: 15px;
}

nav a:hover{
    transition: .3s;
    background-color: rgba(98, 62, 182, 0.452);
    border-radius: 5px;
}


main{
    display: flex;
}

.imagen_1{
    position: relative;
    margin: 20px;
    margin-top: 100PX;
    left: 200px;
    background-color: rgb(109, 50, 50);
    width: 500px;
    height: 400px;
    transition: .3s;
    cursor: pointer;
}

.papa{
    position: relative;
    margin: 20px;
    margin-top: 150PX;
    height: 400px;
    left: 200px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    transition: .3s;
    cursor: pointer;
}
.papa:hover{
    background-color: rgb(214, 214, 214);
    transform: scale(1.03);
}



.imagenes_abajo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 220px;
    width: 500px;
    height: 100px;
}

.imagenes_abajo :nth-child(1){
    position: relative;
    width: 70px;
    height: 70px;
    margin: 20px ;
    background-color: aqua;
    transition: .3s ease-out;
    cursor: pointer;
}

.imagenes_abajo :nth-child(2){
    position: relative;
    width: 70px;
    height: 70px;
    margin: 20px ;
    background-color: red;
    transition: .3s ease-out;
    cursor: pointer;
}

.imagenes_abajo :nth-child(3){
    position: relative;
    width: 70px;
    height: 70px;
    margin: 20px ;
    background-color: indigo;
    transition: .3s ease-out;
    cursor: pointer;
}

.imagenes_abajo :nth-child(4){
    position: relative;
    width: 70px;
    height: 70px;
    margin: 20px ;
    background-color: burlywood;
    transition: .3s ease-out;
    cursor: pointer;
}

#imagenes_abajo:hover{
    background-color: red;
}

.texto{
    position: relative ;
    display: '';
    margin-top: 180px;
    margin-left: 20px;
    left: 300px;
    padding: 10px;
    max-width: 500px; min-width: 400px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}


.container_img_slices{
    display:  none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(73, 73, 73, 0.548);
}


.imagen_seleccionada{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 550px;
    background-color: rgb(216, 214, 181);
    cursor: pointer;
}

.slices1{
    position: absolute;
    left: 15%;
    top: 40%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: aqua;
    transition: .3s;

}


.slices2{
    position: absolute;
    left: 80%;
    top: 40%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: aqua;
    transition: .3s;
}

.slices1:hover, .slices2:hover{
    background-color: blueviolet;
    transition: .3s;
    transform: scale(1.2);
}

.imagen_seleccionada:hover{
    background-color: rgb(167, 167, 15);
    transition: .3s;
}